@import "tailwindcss";

@theme {
    --color-primary: #03A9F4;
    --color-primary-light: #B3E5FC;
    --color-primary-dark: #0288D1;

    --color-accent: #FF4081;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-dark-grey: #757575
    --color-light-grey: #BDBDBD;
}

